<div class="container1">


<div class="row">
    <div class="col-5">
        
        <div class="im1 col-md-8 mt-5"><img src="assets/img/ch1.jpg" class="im1" alt="img"></div>
    </div>
  <div class="col-7">
    <div class="titre mt-5">POURQUOI NOUS CHOISIR ?</div>
    
    
    <div class="titre1 mt-5 pb-3">       <img src="assets/img/icc.png" class="icc mr-3" alt="" width="20" height="20">
      UN SERVICE DE LIVRAISON RAPIDE</div>
    <div class="titre2 ">Dotée d’une équipe de professionnels et qualifiés dans la logistique internationale, notre entreprise met tout en œuvre pour vous livrer dans les plus brefs délais.</div>
    <div class="titre1 mt-5 pb-3"> <img src="assets/img/icc.png" class="icc mr-3" alt="" width="20" height="20">  SÉCURITÉ & FIABILITÉ</div>
    <div class="titre2 ">Dotée d’un système informatisé, <span style="color:#009FC7;">Audace</span> vous permet de suivre l’acheminement de votre marchandise et vous assure la sécurité de votre livraison sans aucune égratignure.</div>
    <div class="titre1 mt-5 pb-3"> <img src="assets/img/icc.png" class="icc mr-3" alt="" width="20" height="20"> LIVRER À TRAVERS LE MONDE ENTIER</div>
    <div class="titre2 ">Œuvrant à l'international mais aussi en Europe, en Amérique, en Afrique et en Asie, <span style="color:#009FC7;">Audace</span> dispose de tous les équipements et le savoir-faire nécessaire pour assurer l’expédition de vos marchandises sans aucune difficulté.</div>
  </div>

  
  </div>
</div>