
          <app-nav></app-nav>


   
      
          <img src="assets/img/arr.jpg" class="photo" height="100%" width="100%" alt="img">
          <p class="heading "> <span class="sous"> TRANSPORT AERIEN</span> </p>
    
    
          
              <div class="container1">
            
                <div class="row">
                    <div class="col-6">
                     <p class="titre1 mt-5">Transport Aérien </p>
                     <hr class="ligne"/>
                     <p class="mt-5 par1" >Spécialisée dans la logistique et le transport aérien, AUDACE propose des solutions fiables et sûres pour une livraison express tout en réduisant les délais d’approvisionnement et les coûts des distributions associés pour assurer un service client gratifiant et adapté à chaque besoin.</p>
                     
                   
                      
                     </div>
                <div class="col-6 ">
            
                    <div class="mr-3"><img src="assets/img/arr2.jpg" height="90%" width="60%" class="im1" alt="img">
                    </div>
            
                </div>
            
                </div>
                <p class="mt-5 par1" ><b>Audace</b>  est reconnu comme un leader fret forwarder du fret aérien dans l’aéroport de Tunis Carthage et disposant d’une vaste couverture de correspondants dans le monde, nous vous faisons bénéficier de tarifs négociés à destination du monde entier. Gagnez du temps et de l’efficacité : du départ à l’arrivée, nos agents de transit s’occupent des formalités douanières et administratives et assurent le suivi de vos expéditions.
                </p>
                 <p class=" par1" ><b>Nos services:</b>Vos solutions de fret aérien
                 </p>
                 <p class=" par1" >Bénéficiez d’une flexibilité totale grâce à la large gamme de services de transport aérien mise à votre disposition:
                </p>
                 <p class=" par1">
                <li>Prise en charge door-to-door, airport-to-airport, door-to-airport ou airport-to-door dans le respect de vos Incoterms.
                </li>
                <li>Import et réception de tout type de fret aérien: enlèvement chez le fournisseur étranger, démarches administratives spécifiques, possibilité de stockage sous douane.</li>  
                <li>Export: études spécifiques, stockage avant expédition, emballage adapté au produit, assurance transport à la demande…

                </li>  
                <li>Gestion des opérations triangulaires (expéditions cross trade, drop shipment) pour des livraisons plus rapides, des économies de frais logistiques et de droits de douanes.

                </li>  
                <li>Etudes et formalités douanières, démarches administratives nécessaires au dédouanement.

                </li>  
                <li>Stockage, préparation, emballage avant envoi à la demande.

                </li>  
                <li>Suivi personnalisé des opérations: suivi des commandes auprès des fournisseurs, rapport personnalisé des situations anormales, confirmation des arrivées et embarquements.

                </li>  
                
             
           
              
             </div>
            
            <div class="container2 mt-5">
                <div class="container1 pt-5 pb-5">
                    <div class="row ">
                        <div class="col-3">
                            <p class="titre">AUDACE</p>
                            <p class="par pt-3">
                                créée en 2019, audace a réussit de s’identifiée comme
                                 une société de gamme en terme de services de transport national et international ainsi que toutes prestations logistiques.
                            </p>
                        </div>
                        <div class="col-3">
                            <p class="titre">QUICK LINK</p>
                            <p class="par pt-3">Home</p>
                           <p class="par">Qui Somme Nous</p>
                           <p class="par">Nous Servise</p>
                           <p class="par">Contactez Nous</p>
                
                        </div>
                
                        <div class="col-3">
                            <p class="titre">CONTACT</p>
                            <p class="par pt-3">11 Rue Sahel Radés Saline 2040 -Radés</p>
                           <p class="par">Fix :(+216) 31 527 474</p>
                           <p class="par">Tele :(+216) 22 749 644</p>
                           <p class="par">Mail : Audace.Logistique@Gmail.Com</p>
                
                        </div>
                
                        <div class="col-3">
                            <p class="titre pb-3">MAP</p>
                            <google-map 
                            height="200px"
                            width="75%"
                            ></google-map>
                
                        </div>
                    </div>
                
                
                </div>
                </div>

             
                   
            
          
    
     
    
    