<div class="container1 mt-5">
        
   
       
            <p class="titre text-center mt-5">Nos Services </p>
            <!--<hr class="ligne text-center"/>-->
            
   
</div>
<div class="container1 ">
<div class="row mb-5 ">
    <div class="col-3">
      <div class=" card h-100 border-0 ">
        <img src=img src="assets/img/l1.png" class="card-img-top mt-4" alt="...">
        <div class="card-body">
          <h5 class="card-title ">TRANSPORT MARITIME</h5>
          <p class="card-text text-center">AUDACE met tout en œuvre pour vous garantir un service rapide et efficace. Notre entreprise de transport maritime vous assiste pour le choix des ports les plus efficaces et les moins congestionnés pour une livraison express en temps opportun. Nos collaborateurs s’engagent à vous offrir une flexibilité maximale.</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card h-100 border-0">
        <img src="assets/img/l2.png" class="card-img-top mt-4" alt="...">
        <div class="card-body">
          <h5 class="card-title">TRANSPORT AÉRIEN</h5>
          <p class="card-text text-center">Spécialisée dans la logistique et le transport aérien, AUDACE propose des solutions fiables et sûres pour une livraison express tout en réduisant les délais d’approvisionnement et les coûts des distributions associés pour assurer un service client gratifiant et adapté à chaque besoin..</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card h-100 border-0">
        <img src="assets/img/l3.png" class="card-img-top mt-4" alt="...">
        <div class="card-body">
          <h5 class="card-title">TRANSPORT TERRESTRE</h5>
          <p class="card-text text-center">Pour tout transport de marchandises, AUDACE vous propose des solutions sur mesure adaptées à vos besoins. Notre équipe qualifiée vous garantit des services de qualité qui vous assurent une flexibilité pour tous vos transports terrestres..</p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card h-100 border-0">
        <img src="assets/img/l4.png" class="card-img-top mt-4" alt="...">
        <div class="card-body">
          <h5 class="card-title">SERVICE LOGISTIQUE</h5>
          <p class="card-text text-center">Faire appel aux experts de la société AUDACE vous permettra de bénéficier d’un service sur mesure qui s’adapte parfaitement à vos besoins. Nous veillerons à prendre en charge tous vos besoins les plus complexes en matière de logistiques internationales.</p>
        </div>
      </div>
    </div>
    
  </div>
</div>
