@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
*{
    font-family: 'Lato', sans-serif;
}
.titre{
    font: normal normal 900 40px/48px Lato;
  
}

.ligne{
    border: 3px solid #009FC7;
    background-color: #009FC7;
    width: 150px;
    
  
  
}
.container1{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 70px;
   
    

}
.card-img-top{
    
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 55px;
height: 55px;
      
}
.card-title{
    text-align: center;
    font: normal normal 600 23px/28px Lato;
    letter-spacing: 0px;
    color: #000000;
    
        ;
      
    
}
.card-text{
    text-align: center;

    font: normal normal normal 14px/18px Lato;
    color: #707070;
}
.col{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: solid white
   }
.card{
    box-shadow: 3px 7px 25px #19456C1C;
}