
          <app-nav></app-nav>


   
      
          <img src="assets/img/martine.jpg" class="photo" height="100%" width="100%" alt="img">
          <p class="heading "> <span class="sous"> TRANSPORT MARTIME</span> </p>
    
    
          
            
          <div class="container1">
            
            <div class="row">
                <div class="col-6">
                 <p class="titre1 mt-5">Service Matitime</p>
                 <hr class="ligne"/>
                 <p class="mt-5 par1" >Faire appel aux experts de la société AUDACE vous permettra de bénéficier d’un service sur mesure qui s’adapte parfaitement à vos besoins. Nous veillerons à prendre en charge tous vos besoins les plus complexes en matière de logistiques internationales.</p>
                 
               
                  
                 </div>
            <div class="col-6 ">
        
                <div class="mr-3"><img src="assets/img/mart1.jpg" height="90%" width="60%" class="im1" alt="img">
                </div>
        
            </div>
        
            </div>
        
                   
                      
                     
                     <div class="par12">
                        <p class="mt-5 par1" >Bénéficiez d’une flexibilité totale grâce à une large gamme de services de transport maritime :
                        </p>
                         <p class=" par1" >Spécialiste en Tunisie du transport maritime, nous définissons les meilleures routes et ajustons les prestations selon vos contraintes. Notre mission de fret forwarder consiste à être un interlocuteur de poids pour discuter les prix et obtenir le meilleur service sur un marché instable. Des flux maritimes bien gérés vous permettent d’optimiser vos stocks donc votre trésorerie.</p>
                         <p class=" par1" >
    
                        <li>Expédition de tout type de marchandise dans le monde entier.</li>
                        <li>Conseil sur la solution adaptée aux particularités de vos expéditions :</li>
                            – Conteneurs complets (FCL), groupage de conteneurs (LCL), matériel roulant (Roll-On Roll-Off) ou autre.
    <br>– Groupage de vos marchandises chaque semaine en Tunisie, en Afrique et dans le monde. Consolidation de chargeurs (LCL / FCL), dégroupage et gestion de livraisons sur points multiples (FCL/LCL).
                        
    
    <li>Habilitations et expérience pour traiter de nombreux frets à particularité : produits réglementés / produits dangereux (DGR), expéditions de véhicules en conteneurs personnalisés, fret hors gabarit / exceptionnel (grues, machines, bateaux, véhicules …)</li>
    <li>Export : service conseil « Produits dangereux », études spécifiques, stockage avant expédition, emballage adapté au produit, assurance transport à la demande.
    </li>
    <li>Prise en charge door-to-door, port-to-port, door-to-port ou port-to-door dans le respect de vos Incoterms.
    </li>
    <li>Organisation des enlèvements et livraisons (tout route, barge/route, rail/route).</li>
    <li>Mise à disposition de tous types des conteneurs : dry, open top, réfrigéré, flat rack, MAFI et équipement spéciaux.
    </li>
    <li>Stockage, préparation, emballage, calage, sanglage, empotage…
    </li>
    <li>Etudes et formalités douanières, démarches administratives nécessaires au dédouanement (demande de licences, visas, service de garantie...), entreposage sous douane.
    
    <li>Suivi des opérations : suivi des commandes auprès des fournisseurs, rapport personnalisé des situations anormales, confirmation des arrivées et embarquements.
    </li>
    
                     </div>
               
            
                    </div>

            
                
            
            <div class="container2 mt-5">
                <div class="container1 pt-5 pb-5">
                    <div class="row ">
                        <div class="col-3">
                            <p class="titre">AUDACE</p>
                            <p class="par pt-3">
                                créée en 2019, audace a réussit de s’identifiée comme
                                 une société de gamme en terme de services de transport national et international ainsi que toutes prestations logistiques.
                            </p>
                        </div>
                        <div class="col-3">
                            <p class="titre">QUICK LINK</p>
                            <p class="par pt-3">Home</p>
                           <p class="par">Qui Somme Nous</p>
                           <p class="par">Nous Servise</p>
                           <p class="par">Contactez Nous</p>
                
                        </div>
                
                        <div class="col-3">
                            <p class="titre">CONTACT</p>
                            <p class="par pt-3">11 Rue Sahel Radés Saline 2040 -Radés</p>
                           <p class="par">Fix :(+216) 31 527 474</p>
                           <p class="par">Tele :(+216) 22 749 644</p>
                           <p class="par">Mail : Audace.Logistique@Gmail.Com</p>
                
                        </div>
                
                        <div class="col-3">
                            <p class="titre pb-3">MAP</p>
                            <google-map 
                            height="200px"
                            width="75%"
                            ></google-map>
                
                        </div>
                    </div>
                
                
                </div>
                </div>

             
                   
            
          
    
     
    
    